@charset "UTF-8";
/*! normalize.css 2012-07-07T09:50 UTC - http://github.com/necolas/normalize.css */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE6/7/8/9 & FF3.
 */
/* line 11, sass/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects `inline-block` display not defined in IE6/7/8/9 & FF3.
 */
/* line 29, sass/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS5 devices.
 */
/* line 42, sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for `hidden` attribute not present in IE7/8/9, FF3, S4.
 * Known issue: no IE6 support.
 */
/* line 52, sass/_normalize.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 67, sass/_normalize.scss */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
/* line 78, sass/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE6/7.
 */
/* line 90, sass/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
/* line 102, sass/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 * people.opera.com/patrickl/experiments/keyboard/test
 */
/* line 111, sass/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7.
 * Addresses font sizes within `section` and `article` in FF4+, Chrome, S5.
 */
/* line 125, sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 130, sass/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 135, sass/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 140, sass/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 145, sass/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 150, sass/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome.
 */
/* line 159, sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to `bolder` in FF3+, S4/5, Chrome.
 */
/* line 167, sass/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 172, sass/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome.
 */
/* line 180, sass/_normalize.scss */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9.
 */
/* line 188, sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Addresses margins set differently in IE6/7.
 */
/* line 197, sass/_normalize.scss */
p,
pre {
  margin: 1em 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome.
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
/* line 207, sass/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers.
 */
/* line 220, sass/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * Addresses CSS quotes not supported in IE6/7.
 */
/* line 230, sass/_normalize.scss */
q {
  quotes: none;
}

/*
 * Addresses `quotes` property not supported in S4.
 */
/* line 238, sass/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 244, sass/_normalize.scss */
small {
  font-size: 75%;
}

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 * gist.github.com/413930
 */
/* line 253, sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 261, sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 265, sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7.
 */
/* line 277, sass/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 284, sass/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE6/7.
 */
/* line 292, sass/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/*
 * Corrects list images handled incorrectly in IE7.
 */
/* line 302, sass/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE6/7/8/9, FF3.
 * 2. Improves image quality when scaled in IE7.
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
/* line 318, sass/_normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9.
 */
/* line 327, sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11.
 */
/* line 339, sass/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7.
 */
/* line 351, sass/_normalize.scss */
form {
  margin: 0;
}

/*
 * Define consistent border, margin, and padding.
 */
/* line 359, sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9.
 * 2. Corrects text not wrapping in FF3.
 * 3. Corrects alignment displayed oddly in IE6/7.
 */
/* line 371, sass/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
/* line 384, sass/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * Addresses FF3/4 setting `line-height` on `input` using `!important` in the
 * UA stylesheet.
 */
/* line 399, sass/_normalize.scss */
button,
input {
  line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE6.
 */
/* line 414, sass/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/*
 * Re-set default cursor for disabled elements.
 */
/* line 427, sass/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9.
 * 2. Removes excess padding in IE8/9.
 * 3. Removes excess padding in IE7.
 *    Known issue: excess padding remains in IE6.
 */
/* line 439, sass/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/*
 * 1. Addresses `appearance` set to `searchfield` in S5, Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in S5, Chrome (include `-moz`
 *    to future-proof).
 */
/* line 453, sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X.
 */
/* line 464, sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+.
 */
/* line 473, sass/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
/* line 484, sass/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
/* line 497, sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/******************************************************************
CUSTOMIZED RESET VALUES
I added these extra styles as a more personalized reset. Feel free
to remove them if you like or add your own. If you want to update
the normalize styles, make sure to edit from this point up.
******************************************************************/
/* line 510, sass/_normalize.scss */
p {
  -webkit-hyphens: auto;
  -epub-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

/* line 517, sass/_normalize.scss */
b, strong, .strong {
  font-weight: bold;
}

/* line 519, sass/_normalize.scss */
dfn, em, .em {
  font-style: italic;
}

/* line 521, sass/_normalize.scss */
small, .small {
  font-size: 75%;
}

/* line 523, sass/_normalize.scss */
ul, ol {
  padding: 0;
  list-style-type: none;
}

/* line 528, sass/_normalize.scss */
dd {
  margin: 0;
}

/* line 532, sass/_normalize.scss */
.sidebar ul,
.sidebar ol,
.commentlist {
  list-style: none;
}

/* line 11, sass/_grid.sass */
.content-inner, .header-inner, .footer-inner, .topic-nav__inner, .blog-topic-header__inner {
  *zoom: 1;
  max-width: 40em;
  _width: 40em;
  padding-left: 2em;
  padding-right: 2em;
  margin-left: auto;
  margin-right: auto;
}
/* line 38, ../../../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/utilities/general/_clearfix.scss */
.content-inner:after, .header-inner:after, .footer-inner:after, .topic-nav__inner:after, .blog-topic-header__inner:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 70em) {
  /* line 11, sass/_grid.sass */
  .content-inner, .header-inner, .footer-inner, .topic-nav__inner, .blog-topic-header__inner {
    *zoom: 1;
    max-width: 70em;
    padding-left: 2em;
    padding-right: 2em;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 38, ../../../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/utilities/general/_clearfix.scss */
  .content-inner:after, .header-inner:after, .footer-inner:after, .topic-nav__inner:after, .blog-topic-header__inner:after {
    content: "";
    display: table;
    clear: both;
  }
}

/* line 14, sass/_grid.sass */
.footer {
  clear: both;
}

/**
 * Typecsset
 *
 * Typecsset is a small, unopinionated library for creating beautifully set type
 * on the web. Typecsset gives perfect vertical rhythm at any configurable font
 * size, as well as many other typographical niceties.
 */
/*------------------------------------*\
    #SHARED
\*------------------------------------*/
/**
 * A lot of elements in Typecsset need to share some declarations (mainly for
 * vertical rhythm), so we `@extend` some silent classes.
 */
/* line 99, sass/_typecsset.scss */
h1, h2, h3, h4, h5, h6, p, address, pre, blockquote, table, hr, ul, ol, dl {
  margin: 0;
  padding: 0;
}

/* line 104, sass/_typecsset.scss */
h1, h2, h3, h4, h5, h6, p, address, pre, blockquote, table, hr, ul, ol, dl {
  margin-bottom: 30px;
  margin-bottom: 1.5rem;
}

/*------------------------------------*\
    #BASE
\*------------------------------------*/
/**
 * 1. Set the base element’s `font-size` to the value of your choosing. Set in
 *    ems, assuming a browser default of 16px.
 * 2. Work out the unitless `line-height` for your project based around your
 *    desired `line-height` (defined previously in pixels), and your project’s
 *    base font size.
 */
/* line 131, sass/_typecsset.scss */
html {
  font-size: 1em;
  /* [1] */
  line-height: 1.35;
  /* [2] */
}
@media screen and (min-height: 1000px) and (min-width: 70em) {
  /* line 131, sass/_typecsset.scss */
  html {
    font-size: 1.25em;
    /* [1] */
    line-height: 1.5;
    /* [2] */
  }
}

/* line 152, sass/_typecsset.scss */
body {
  margin: 0;
}

/*------------------------------------*\
    #HEADINGS
\*------------------------------------*/
/* line 163, sass/_typecsset.scss */
h1 {
  font-size: 60px;
  font-size: 3rem;
  line-height: 1;
}

/* line 168, sass/_typecsset.scss */
h2 {
  font-size: 40px;
  font-size: 2rem;
  line-height: 1.5;
}

/* line 173, sass/_typecsset.scss */
h3 {
  font-size: 23px;
  font-size: 1.15rem;
  line-height: 1.30435;
}

/* line 178, sass/_typecsset.scss */
h4 {
  font-size: 20px;
  font-size: 1rem;
  line-height: 1.5;
}

/* line 183, sass/_typecsset.scss */
h5 {
  font-size: 20px;
  font-size: 1rem;
  line-height: 1.5;
}

/* line 188, sass/_typecsset.scss */
h6 {
  font-size: 14.667px;
  font-size: 0.73335rem;
  line-height: 2.04541;
}

/*------------------------------------*\
    #PARAGRAPHS
\*------------------------------------*/
/**
 * Not strictly a paragraph, but probably doesn’t need its own section.
 */
/*------------------------------------*\
    #CODE
\*------------------------------------*/
/**
 * 1. Fix an odd quirk whereby, without this, code blocks are rendered at a
 *    font-size smaller than 1em.
 */
/* line 237, sass/_typecsset.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* [1] */
}

/*------------------------------------*\
    #QUOTES
\*------------------------------------*/
/**
 * 1. Hang the opening quote of the blockquote.
 */
/* line 254, sass/_typecsset.scss */
blockquote {
  text-indent: -0.41em;
  /* [1] */
}

/**
 * Set up quote marks on quoting elements. This is very English-based, so we are
 * using “, ”, ‘, and ’ quotes.
 */
/* line 262, sass/_typecsset.scss */
blockquote {
  margin-left: 60px;
  margin-left: 3rem;
  margin-right: 60px;
  margin-right: 3rem;
}
/* line 269, sass/_typecsset.scss */
blockquote p:first-of-type:before {
  content: "“";
  content: open-quote;
}
/* line 274, sass/_typecsset.scss */
blockquote p:first-of-type:after {
  content: "”";
  content: close-quote;
}

/* line 283, sass/_typecsset.scss */
q {
  quotes: "‘" "’" "“" "”";
  /**
   * If an element opens with an inline quote, let’s hang that.
   */
}
/* line 286, sass/_typecsset.scss */
q:before {
  content: "‘";
  content: open-quote;
}
/* line 291, sass/_typecsset.scss */
q:after {
  content: "’";
  content: close-quote;
}
/* line 296, sass/_typecsset.scss */
q q:before {
  content: "“";
  content: open-quote;
}
/* line 301, sass/_typecsset.scss */
q q:after {
  content: "”";
  content: close-quote;
}
/* line 309, sass/_typecsset.scss */
q:first-child {
  display: inline-block;
  text-indent: -0.22em;
}

/*------------------------------------*\
    #TABLES
\*------------------------------------*/
/**
 * Crude table styles; tables are very difficult to keep on the baseline.
 */
/* line 326, sass/_typecsset.scss */
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 333, sass/_typecsset.scss */
th,
td {
  padding: 15px;
}

/* line 18, sass/_typography.sass */
body {
  font-family: "museo-sans-rounded", "helvetica-neue", helvetica, sans-serif;
  font-weight: 500;
  color: #666666;
}

/* line 23, sass/_typography.sass */
h1, h2, h3 {
  color: #444444;
}

/* line 26, sass/_typography.sass */
h1 {
  font-weight: 500;
}

/* line 29, sass/_typography.sass */
h2 {
  font-weight: 700;
}

/* line 32, sass/_typography.sass */
h3 {
  font-weight: 700;
}

/* line 35, sass/_typography.sass */
h4 {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

/* line 44, sass/_typography.sass */
hr {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #dddddd;
}

/* line 53, sass/_typography.sass */
a {
  color: #f67d42;
  text-decoration: none;
  -moz-transition: color 0.1s linear;
  -o-transition: color 0.1s linear;
  -webkit-transition: color 0.1s linear;
  transition: color 0.1s linear;
}
/* line 58, sass/_typography.sass */
a:hover {
  color: #e1510b;
}
/* line 61, sass/_typography.sass */
a:active, a:focus {
  color: #e1510b;
  outline: none;
}
/* line 65, sass/_typography.sass */
a > h1, a > h2, a > h3 {
  color: #f67d42;
}

/* line 69, sass/_typography.sass */
img {
  margin: 0;
  max-width: 100%;
  height: auto;
}

/* line 75, sass/_typography.sass */
abbr, acronym {
  border-bottom: 1px dotted #dddddd;
  cursor: help;
}

/* line 79, sass/_typography.sass */
address {
  display: block;
  margin: 0 0 12px;
}

/* line 83, sass/_typography.sass */
hgroup {
  margin-bottom: 12px;
}

/* line 86, sass/_typography.sass */
del {
  color: #8c8c8c;
}

/* line 89, sass/_typography.sass */
blockquote {
  font-family: "museo-sans-rounded", "helvetica-neue", helvetica, sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 23px;
  font-size: 1.15rem;
  line-height: 1.30435;
  color: #8c8c8c;
}
/* line 98, sass/_typography.sass */
blockquote cite {
  color: #a6a6a6;
}
/* line 101, sass/_typography.sass */
blockquote cite:before {
  content: "\2014 \00A0";
}

/* line 104, sass/_typography.sass */
.single .article-content blockquote p {
  font-family: "museo-sans-rounded", "helvetica-neue", helvetica, sans-serif;
}

/* line 107, sass/_typography.sass */
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 1, sass/_tables.sass */
table {
  margin: 0;
  margin-top: 15px;
  margin-top: 0.75rem;
  margin-bottom: 15px;
  margin-bottom: 0.75rem;
  width: 100%;
}

/* line 7, sass/_tables.sass */
th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding-top: 15px;
  padding-top: 0.75rem;
  padding-bottom: 15px;
  padding-bottom: 0.75rem;
  text-align: left;
}

/* line 14, sass/_tables.sass */
td {
  border-bottom: 1px solid #dddddd;
  padding-top: 15px;
  padding-top: 0.75rem;
  padding-bottom: 15px;
  padding-bottom: 0.75rem;
}

/* line 19, sass/_tables.sass */
tr, td, th {
  vertical-align: middle;
}

/* line 10, sass/_forms.sass */
fieldset {
  background: #f7f7f7;
  border: 1px solid #dddddd;
  margin: 0;
  margin-bottom: 15px;
  margin-bottom: 0.75rem;
  padding: 30px;
  padding: 1.5rem;
}
/* line 17, sass/_forms.sass */
fieldset p {
  font-family: "museo-sans-rounded", "helvetica-neue", helvetica, sans-serif;
}

/* line 20, sass/_forms.sass */
input,
label,
select {
  display: block;
  font-family: "museo-sans-rounded", "helvetica-neue", helvetica, sans-serif;
  font-size: 1rem;
}

/* line 27, sass/_forms.sass */
label {
  font-weight: bold;
  margin-bottom: 7.5px;
  margin-bottom: 0.375rem;
}
/* line 31, sass/_forms.sass */
label.required:after {
  content: "*";
}
/* line 34, sass/_forms.sass */
label abbr {
  display: none;
}

/* line 37, sass/_forms.sass */
textarea,
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="url"],
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="time"],
input[type="week"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: border-color;
  -o-transition: border-color;
  -webkit-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #dddddd;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "museo-sans-rounded", "helvetica-neue", helvetica, sans-serif;
  font-size: 1rem;
  margin-bottom: 15px;
  margin-bottom: 0.75rem;
  padding: 9.9px;
  padding: 0.495rem;
  width: 100%;
}
/* line 64, sass/_forms.sass */
textarea:hover,
input[type="email"]:hover,
input[type="number"]:hover,
input[type="password"]:hover,
input[type="search"]:hover,
input[type="tel"]:hover,
input[type="text"]:hover,
input[type="url"]:hover,
input[type="color"]:hover,
input[type="date"]:hover,
input[type="datetime"]:hover,
input[type="datetime-local"]:hover,
input[type="month"]:hover,
input[type="time"]:hover,
input[type="week"]:hover {
  border-color: #c4c4c4;
}
/* line 67, sass/_forms.sass */
textarea:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus {
  border-color: #f67d42;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(245, 108, 42, 0.7);
  outline: none;
}

/* line 72, sass/_forms.sass */
input[type="search"] {
  -moz-appearance: none;
  -webkit-appearance: none;
}

/* line 75, sass/_forms.sass */
input[type="checkbox"], input[type="radio"] {
  display: inline;
  margin-right: 7.5px;
  margin-right: 0.375rem;
}

/* line 79, sass/_forms.sass */
select {
  width: auto;
  margin-bottom: 30px;
  margin-bottom: 1.5rem;
}

/* line 83, sass/_forms.sass */
button,
input[type="submit"] {
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  font-size: 1rem;
}

/* line 5, sass/_lists.sass */
li > ul, li > ol {
  margin-bottom: 0;
}

/* line 8, sass/_lists.sass */
ul, ol {
  list-style-type: none;
}
/* line 26, sass/_lists.sass */
ul.default-ul, ol.default-ul {
  list-style-type: disc;
  padding-left: 30px;
  padding-left: 1.5rem;
}
/* line 30, sass/_lists.sass */
ul.default-ol, ol.default-ol {
  list-style-type: decimal;
  padding-left: 30px;
  padding-left: 1.5rem;
}
/* line 36, sass/_lists.sass */
ul.checklist > li:before, ol.checklist > li:before {
  content: "✓";
  padding-right: 1em;
}

/* line 42, sass/_lists.sass */
.article-content ul {
  list-style-type: disc;
}

/* line 47, sass/_lists.sass */
dl dt {
  font-size: 16px;
  color: #999999;
  text-transform: uppercase;
}
/* line 52, sass/_lists.sass */
dl dd {
  margin: 0;
}
/* line 55, sass/_lists.sass */
dl dd + dt {
  margin-top: 15px;
  margin-top: 0.75rem;
}

/* line 1, sass/_buttons.sass */
button,
input[type="submit"], .cta-button, .page-section .cta-button, .page-section--teal .cta-button, .page-section--green .cta-button, .page-section--blue .cta-button, .page-section--orange .cta-button, .page-section--yellow .cta-button {
  display: inline-block;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  border: 0;
  padding-top: 7.5px;
  padding-top: 0.375rem;
  padding-right: 15px;
  padding-right: 0.75rem;
  padding-bottom: 7.5px;
  padding-bottom: 0.375rem;
  padding-left: 15px;
  padding-left: 0.75rem;
  background-color: #f67d42;
  color: white;
  font-size: 16px;
  text-align: center;
}
/* line 14, sass/_buttons.sass */
button.large,
input.large[type="submit"], .large.cta-button {
  padding-top: 15px;
  padding-top: 0.75rem;
  padding-right: 60px;
  padding-right: 3rem;
  padding-bottom: 15px;
  padding-bottom: 0.75rem;
  padding-left: 60px;
  padding-left: 3rem;
  font-size: 23px;
  font-size: 1.15rem;
  line-height: 1.30435;
}
/* line 21, sass/_buttons.sass */
button:hover,
input[type="submit"]:hover, .cta-button:hover {
  background-color: #f78e5a;
}
/* line 24, sass/_buttons.sass */
button:active,
input[type="submit"]:active, .cta-button:active {
  background-color: #f56c2a;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 1, sass/_ctas.sass */
.subscribe-cta, .blog__bottom-cta {
  padding: 30px;
  padding: 1.5rem;
  background-color: #7dd3d4;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-sizing: border-box;
  color: white;
}
/* line 8, sass/_ctas.sass */
.subscribe-cta h2, .blog__bottom-cta h2 {
  color: #1b6f6c;
  margin-top: 0;
}

/* line 12, sass/_ctas.sass */
.subscribe-cta {
  margin-bottom: 60px;
  margin-bottom: 3rem;
}

/* line 19, sass/_ctas.sass */
.series-intro {
  font-style: italic;
}

/* line 1, sass/_boxes.sass */
.box, .box--green, .page-section .box--light, .page-section--teal .box--light, .page-section--green .box--light, .page-section--blue .box--light, .page-section--orange .box--light, .page-section--yellow .box--light, .page-section .box--dark, .page-section--teal .box--dark, .page-section--green .box--dark, .page-section--blue .box--dark, .page-section--orange .box--dark, .page-section--yellow .box--dark {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 2em;
  box-sizing: border-box;
  *zoom: 1;
}
/* line 38, ../../../../../../../../.rvm/gems/ruby-1.9.3-p194/gems/compass-core-1.0.0.alpha.19/stylesheets/compass/utilities/general/_clearfix.scss */
.box:after, .box--green:after, .page-section .box--light:after, .page-section--teal .box--light:after, .page-section--green .box--light:after, .page-section--blue .box--light:after, .page-section--orange .box--light:after, .page-section--yellow .box--light:after, .page-section .box--dark:after, .page-section--teal .box--dark:after, .page-section--green .box--dark:after, .page-section--blue .box--dark:after, .page-section--orange .box--dark:after, .page-section--yellow .box--dark:after {
  content: "";
  display: table;
  clear: both;
}
/* line 7, sass/_boxes.sass */
.box > *:last-child, .box--green > *:last-child, .page-section .box--light > *:last-child, .page-section--teal .box--light > *:last-child, .page-section--green .box--light > *:last-child, .page-section--blue .box--light > *:last-child, .page-section--orange .box--light > *:last-child, .page-section--yellow .box--light > *:last-child, .page-section .box--dark > *:last-child, .page-section--teal .box--dark > *:last-child, .page-section--green .box--dark > *:last-child, .page-section--blue .box--dark > *:last-child, .page-section--orange .box--dark > *:last-child, .page-section--yellow .box--dark > *:last-child {
  margin-bottom: 0 !important;
}

/* line 10, sass/_boxes.sass */
.box--green {
  background-color: #93c054;
  color: white;
}
/* line 15, sass/_boxes.sass */
.box--green h1, .box--green h2, .box--green h3, .box--green h4, .box--green h5, .box--green h6 {
  color: #577929;
}

/* line 3, sass/_base.sass */
html {
  background-color: #2d2d2d;
}

/* line 6, sass/_base.sass */
body {
  background-color: white;
}

/* line 9, sass/_base.sass */
.header {
  font-family: "museo-sans-rounded", "helvetica-neue", helvetica, sans-serif;
  padding-top: 30px;
  padding-top: 1.5rem;
  padding-bottom: 30px;
  padding-bottom: 1.5rem;
}
/* line 14, sass/_base.sass */
.header nav {
  line-height: 30px;
  line-height: 1.5rem;
}
/* line 17, sass/_base.sass */
.header nav a + a {
  margin-left: 30px;
  margin-left: 1.5rem;
}
/* line 20, sass/_base.sass */
.header #logo > img {
  height: 30px;
  height: 1.5rem;
  max-width: 163px;
}
@media (min-width: 70em) {
  /* line 26, sass/_base.sass */
  .header #logo {
    float: left;
  }
  /* line 29, sass/_base.sass */
  .header nav {
    float: right;
  }
}

/* line 34, sass/_base.sass */
.article-footer {
  margin-bottom: 60px;
  margin-bottom: 3rem;
}

/* line 37, sass/_base.sass */
.footer {
  padding-bottom: 60px;
  padding-bottom: 3rem;
  padding-top: 60px;
  padding-top: 3rem;
  background-color: #2d2d2d;
  color: white;
}
/* line 43, sass/_base.sass */
.footer a {
  color: white;
}
/* line 46, sass/_base.sass */
.footer nav > a + a {
  margin-left: 60px;
  margin-left: 3rem;
}

@media (min-width: 70em) {
  /* line 49, sass/_base.sass */
  .footer__column {
    width: 31.42857%;
    float: left;
    margin-right: 2.85714%;
  }
  /* line 54, sass/_base.sass */
  .footer__column:last-child {
    width: 31.42857%;
    float: right;
    margin-right: 0;
  }
}
/* line 57, sass/_base.sass */
.footer__column a {
  display: block;
  margin: 0 !important;
}
/* line 61, sass/_base.sass */
.footer__column #logo > img {
  height: 30px;
  height: 1.5rem;
}

/* line 3, sass/_single.sass */
.marketing_blog {
  margin-top: 30px;
  margin-top: 1.5rem;
}
@media (min-width: 70em) {
  /* line 3, sass/_single.sass */
  .marketing_blog {
    margin-top: 60px;
    margin-top: 3rem;
  }
}

/* line 9, sass/_single.sass */
.blog__content img {
  margin-bottom: 30px;
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* line 15, sass/_single.sass */
.blog__content h2 {
  margin-top: 60px;
  margin-top: 3rem;
}

@media (min-width: 70em) {
  /* line 18, sass/_single.sass */
  .article {
    width: 65.71429%;
    float: right;
    margin-right: 0;
    padding-left: 17.14286%;
    padding-right: 17.14286%;
  }
}

@media (min-width: 70em) {
  /* line 24, sass/_single.sass */
  .blog__content, .blog__footer {
    width: 100%;
    float: right;
    margin-right: 0;
  }
}

/* line 28, sass/_single.sass */
.article-title {
  font-size: 60px;
  font-size: 3rem;
  line-height: 1;
  margin-bottom: 30px;
  margin-bottom: 1.5rem;
}

@media (min-width: 70em) {
  /* line 32, sass/_single.sass */
  .the-content {
    width: 86.95652%;
    float: right;
    margin-right: 0;
  }
}

/* line 36, sass/_single.sass */
.byline {
  margin-top: 45px;
  margin-top: 2.25rem;
  margin-bottom: 45px;
  margin-bottom: 2.25rem;
  color: #999999;
}

@media (min-width: 70em) {
  /* line 43, sass/_single.sass */
  .blog__sidebar {
    width: 8.69565%;
    float: left;
    margin-right: 4.34783%;
  }
}
/* line 47, sass/_single.sass */
.blog__sidebar .avatar {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  margin-bottom: 30px;
  margin-bottom: 1.5rem;
  display: none;
}
@media (min-width: 70em) {
  /* line 47, sass/_single.sass */
  .blog__sidebar .avatar {
    display: block;
  }
}

/* line 54, sass/_single.sass */
.blog__share-buttons {
  margin-top: 30px;
  margin-top: 1.5rem;
}
/* line 57, sass/_single.sass */
.blog__share-buttons h3 {
  margin-bottom: 7.5px;
  margin-bottom: 0.375rem;
}

/* line 62, sass/_single.sass */
.blog__author-box p, .blog__leadin-description p {
  margin-bottom: 0;
}
/* line 65, sass/_single.sass */
.blog__author-box h3, .blog__leadin-description h3 {
  margin-bottom: 7.5px;
  margin-bottom: 0.375rem;
}

@media (min-width: 70em) {
  /* line 68, sass/_single.sass */
  .blog__author-box {
    width: 47.82609%;
    float: left;
    margin-right: 4.34783%;
  }
}

@media (min-width: 70em) {
  /* line 73, sass/_single.sass */
  .blog__leadin-description {
    width: 47.82609%;
    float: right;
    margin-right: 0;
  }
}

/* line 78, sass/_single.sass */
.blog__bottom-cta {
  margin-top: 30px;
  margin-top: 1.5rem;
  margin-bottom: 30px;
  margin-bottom: 1.5rem;
}
@media (min-width: 70em) {
  /* line 78, sass/_single.sass */
  .blog__bottom-cta {
    width: 100%;
    float: right;
    margin-right: 0;
  }
}
/* line 86, sass/_single.sass */
.blog__bottom-cta h2, .blog__bottom-cta p {
  margin-bottom: 7.5px;
  margin-bottom: 0.375rem;
}

@media (min-width: 70em) {
  /* line 89, sass/_single.sass */
  .blog__article-comments {
    width: 100%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 70em) {
  /* line 93, sass/_single.sass */
  .blog__expand-full-width {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (min-width: 70em) {
  /* line 26, sass/_page.sass */
  .page #main, .archive #main, .error404 #main {
    width: 65.71429%;
    float: right;
    margin-right: 0;
    padding-left: 17.14286%;
    padding-right: 17.14286%;
  }
  /* line 30, sass/_page.sass */
  .page #main.skinny, .archive #main.skinny, .error404 #main.skinny {
    width: 48.57143%;
    float: right;
    margin-right: 0;
    padding-left: 25.71429%;
    padding-right: 25.71429%;
  }
}
/* line 34, sass/_page.sass */
.page .page-title, .archive .page-title, .error404 .page-title {
  text-align: center;
  margin-bottom: 60px;
  margin-bottom: 3rem;
}

@media (min-width: 70em) {
  /* line 38, sass/_page.sass */
  .page-header {
    width: 100%;
    float: right;
    margin-right: 0;
  }
  /* line 43, sass/_page.sass */
  .page-header .text-column {
    width: 40%;
    float: left;
    margin-right: 2.85714%;
  }
  /* line 46, sass/_page.sass */
  .page-header .image-column {
    width: 57.14286%;
    float: right;
    margin-right: 0;
  }
  /* line 49, sass/_page.sass */
  .page-header .screenshot {
    margin-bottom: -90px;
    margin-bottom: -4.5rem;
  }
}

/* line 52, sass/_page.sass */
.download-button-top {
  margin-top: 30px;
  margin-top: 1.5rem;
}

/* line 55, sass/_page.sass */
.testimonial__quote {
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 4px solid #f1f1f1;
  padding-top: 15px;
  padding-top: 0.75rem;
  padding-right: 15px;
  padding-right: 0.75rem;
  padding-bottom: 15px;
  padding-bottom: 0.75rem;
  padding-left: 60px;
  padding-left: 3rem;
  margin-bottom: 15px;
  margin-bottom: 0.75rem;
}
/* line 65, sass/_page.sass */
.testimonial__quote:before {
  content: "“";
  font-family: georgia;
  color: #fcd45f;
  font-size: 5em;
  position: absolute;
  top: -20px;
  left: 0.5rem;
}
/* line 74, sass/_page.sass */
.testimonial__quote:after {
  position: absolute;
  top: 100%;
  left: 4.5em;
  height: 0;
  width: 0;
  content: "";
  border-top: 1.8em solid #f1f1f1;
  border-right: 1.5em solid transparent;
}

/* line 85, sass/_page.sass */
.testimonial__image {
  float: left;
  height: 90px;
  height: 4.5rem;
  width: 90px;
  width: 4.5rem;
  margin-right: 30px;
  margin-right: 1.5rem;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 92, sass/_page.sass */
.page-section, .page-section--teal, .page-section--green, .page-section--blue, .page-section--orange, .page-section--yellow {
  width: 100%;
  float: right;
  margin-right: 0;
  *margin-left: -2em;
  display: inline;
  padding-top: 30px;
  padding-top: 1.5rem;
  padding-bottom: 30px;
  padding-bottom: 1.5rem;
  background-color: white;
  color: #666666;
}
/* line 6, sass/_page.sass */
.page-section .page-section__header, .page-section--teal .page-section__header, .page-section--green .page-section__header, .page-section--blue .page-section__header, .page-section--orange .page-section__header, .page-section--yellow .page-section__header, .page-section .section-color, .page-section--teal .section-color, .page-section--green .section-color, .page-section--blue .section-color, .page-section--orange .section-color, .page-section--yellow .section-color, .page-section .page-section__centered-header, .page-section--teal .page-section__centered-header, .page-section--green .page-section__centered-header, .page-section--blue .page-section__centered-header, .page-section--orange .page-section__centered-header, .page-section--yellow .page-section__centered-header, .page-section label, .page-section--teal label, .page-section--green label, .page-section--blue label, .page-section--orange label, .page-section--yellow label {
  color: #444444;
}
/* line 9, sass/_page.sass */
.page-section .box--light, .page-section--teal .box--light, .page-section--green .box--light, .page-section--blue .box--light, .page-section--orange .box--light, .page-section--yellow .box--light {
  background-color: #f1f1f1;
}
/* line 13, sass/_page.sass */
.page-section .box--dark, .page-section--teal .box--dark, .page-section--green .box--dark, .page-section--blue .box--dark, .page-section--orange .box--dark, .page-section--yellow .box--dark {
  background-color: #eeeeee;
}
/* line 17, sass/_page.sass */
.page-section .testimonial__quote, .page-section--teal .testimonial__quote, .page-section--green .testimonial__quote, .page-section--blue .testimonial__quote, .page-section--orange .testimonial__quote, .page-section--yellow .testimonial__quote {
  border-color: #eeeeee;
}
/* line 20, sass/_page.sass */
.page-section .testimonial__quote:after, .page-section--teal .testimonial__quote:after, .page-section--green .testimonial__quote:after, .page-section--blue .testimonial__quote:after, .page-section--orange .testimonial__quote:after, .page-section--yellow .testimonial__quote:after {
  border-top-color: #eeeeee;
}
@media (min-width: 70em) {
  /* line 92, sass/_page.sass */
  .page-section, .page-section--teal, .page-section--green, .page-section--blue, .page-section--orange, .page-section--yellow {
    padding-top: 60px;
    padding-top: 3rem;
    padding-bottom: 60px;
    padding-bottom: 3rem;
  }
}
/* line 102, sass/_page.sass */
.page-section .cta-button, .page-section--teal .cta-button, .page-section--green .cta-button, .page-section--blue .cta-button, .page-section--orange .cta-button, .page-section--yellow .cta-button {
  margin-bottom: 15px;
  margin-bottom: 0.75rem;
}
/* line 106, sass/_page.sass */
.page-section .secondary-cta, .page-section--teal .secondary-cta, .page-section--green .secondary-cta, .page-section--blue .secondary-cta, .page-section--orange .secondary-cta, .page-section--yellow .secondary-cta {
  font-style: italic;
  color: #f1f1f1;
}

/* line 110, sass/_page.sass */
.page-section__header--centered {
  text-align: center;
  margin-bottom: 60px;
  margin-bottom: 3rem;
}

/* line 114, sass/_page.sass */
.page-section--teal {
  background-color: #6ec8c7;
  color: white;
}
/* line 6, sass/_page.sass */
.page-section--teal .page-section__header, .page-section--teal .section-color, .page-section--teal .page-section__centered-header, .page-section--teal label {
  color: #1b6f6c;
}
/* line 9, sass/_page.sass */
.page-section--teal .box--light {
  background-color: #7dd3d4;
}
/* line 13, sass/_page.sass */
.page-section--teal .box--dark {
  background-color: #62b3b2;
}
/* line 17, sass/_page.sass */
.page-section--teal .testimonial__quote {
  border-color: #62b3b2;
}
/* line 20, sass/_page.sass */
.page-section--teal .testimonial__quote:after {
  border-top-color: #62b3b2;
}

/* line 117, sass/_page.sass */
.page-section--green {
  background-color: #93c054;
  color: white;
}
/* line 6, sass/_page.sass */
.page-section--green .page-section__header, .page-section--green .section-color, .page-section--green .page-section__centered-header, .page-section--green label {
  color: #577929;
}
/* line 9, sass/_page.sass */
.page-section--green .box--light {
  background-color: #a2cc67;
}
/* line 13, sass/_page.sass */
.page-section--green .box--dark {
  background-color: #84ac4b;
}
/* line 17, sass/_page.sass */
.page-section--green .testimonial__quote {
  border-color: #84ac4b;
}
/* line 20, sass/_page.sass */
.page-section--green .testimonial__quote:after {
  border-top-color: #84ac4b;
}

/* line 120, sass/_page.sass */
.page-section--blue {
  background-color: #1fb4da;
  color: white;
}
/* line 6, sass/_page.sass */
.page-section--blue .page-section__header, .page-section--blue .section-color, .page-section--blue .page-section__centered-header, .page-section--blue label {
  color: #006f8a;
}
/* line 9, sass/_page.sass */
.page-section--blue .box--light {
  background-color: #40c0e2;
}
/* line 13, sass/_page.sass */
.page-section--blue .box--dark {
  background-color: #1ba1c3;
}
/* line 17, sass/_page.sass */
.page-section--blue .testimonial__quote {
  border-color: #1ba1c3;
}
/* line 20, sass/_page.sass */
.page-section--blue .testimonial__quote:after {
  border-top-color: #1ba1c3;
}

/* line 123, sass/_page.sass */
.page-section--orange {
  background-color: #f67d42;
  color: white;
}
/* line 6, sass/_page.sass */
.page-section--orange .page-section__header, .page-section--orange .section-color, .page-section--orange .page-section__centered-header, .page-section--orange label {
  color: #b24d19;
}
/* line 9, sass/_page.sass */
.page-section--orange .box--light {
  background-color: #f88d5b;
}
/* line 13, sass/_page.sass */
.page-section--orange .box--dark {
  background-color: #dc703b;
}
/* line 17, sass/_page.sass */
.page-section--orange .testimonial__quote {
  border-color: #dc703b;
}
/* line 20, sass/_page.sass */
.page-section--orange .testimonial__quote:after {
  border-top-color: #dc703b;
}

/* line 126, sass/_page.sass */
.page-section--yellow {
  background-color: #ffbe00;
  color: white;
}
/* line 6, sass/_page.sass */
.page-section--yellow .page-section__header, .page-section--yellow .section-color, .page-section--yellow .page-section__centered-header, .page-section--yellow label {
  color: #886300;
}
/* line 9, sass/_page.sass */
.page-section--yellow .box--light {
  background-color: #7dd3d4;
}
/* line 13, sass/_page.sass */
.page-section--yellow .box--dark {
  background-color: #e5aa00;
}
/* line 17, sass/_page.sass */
.page-section--yellow .testimonial__quote {
  border-color: #e5aa00;
}
/* line 20, sass/_page.sass */
.page-section--yellow .testimonial__quote:after {
  border-top-color: #e5aa00;
}

@media (min-width: 70em) {
  /* line 133, sass/_page.sass */
  .page-section-how .how-column {
    width: 48.57143%;
    float: left;
    margin-right: 2.85714%;
  }
  /* line 136, sass/_page.sass */
  .page-section-how .integrations-column {
    width: 22.85714%;
    float: left;
    margin-right: 2.85714%;
  }
  /* line 139, sass/_page.sass */
  .page-section-how .integrations-column:last-child {
    width: 22.85714%;
    float: right;
    margin-right: 0;
  }
}

/* line 145, sass/_page.sass */
.page-header-setup .step-image {
  margin-bottom: 15px;
  margin-bottom: 0.75rem;
}
/* line 148, sass/_page.sass */
.page-header-setup .step-image + .step-image {
  margin-top: 15px;
  margin-top: 0.75rem;
}
/* line 151, sass/_page.sass */
.page-header-setup .step-title {
  margin-bottom: 15px;
  margin-bottom: 0.75rem;
}
@media (min-width: 70em) {
  /* line 156, sass/_page.sass */
  .page-header-setup .step {
    width: 31.42857%;
    float: left;
    margin-right: 2.85714%;
  }
  /* line 159, sass/_page.sass */
  .page-header-setup .step:nth-child(4n) {
    width: 31.42857%;
    float: right;
    margin-right: 0;
  }
  /* line 162, sass/_page.sass */
  .page-header-setup .step-image {
    margin-bottom: 30px;
    margin-bottom: 1.5rem;
    margin-top: 0px;
    margin-top: 0rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 70em) {
  /* line 173, sass/_page.sass */
  .page-section-features .feature {
    width: 82.85714%;
    float: right;
    margin-right: 0;
    padding-left: 8.57143%;
    padding-right: 8.57143%;
  }
  /* line 177, sass/_page.sass */
  .page-section-features .feature + .feature {
    margin-top: 60px;
    margin-top: 3rem;
  }
  /* line 180, sass/_page.sass */
  .page-section-features .feature__text {
    width: 37.93103%;
    float: left;
    margin-right: 3.44828%;
  }
  /* line 183, sass/_page.sass */
  .page-section-features .feature__text:last-child {
    width: 37.93103%;
    float: right;
    margin-right: 0;
  }
  /* line 186, sass/_page.sass */
  .page-section-features .feature__header {
    margin-top: 45px;
    margin-top: 2.25rem;
    margin-bottom: 15px;
    margin-bottom: 0.75rem;
  }
  /* line 190, sass/_page.sass */
  .page-section-features .feature__image {
    width: 58.62069%;
    float: left;
    margin-right: 3.44828%;
  }
  /* line 193, sass/_page.sass */
  .page-section-features .feature__image:last-child {
    width: 58.62069%;
    float: right;
    margin-right: 0;
  }
  /* line 196, sass/_page.sass */
  .page-section-features .feature__image img {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #f1f1f1;
  }
}

@media (min-width: 70em) {
  /* line 203, sass/_page.sass */
  .page-section-pricing .pricing__column {
    width: 31.42857%;
    float: left;
    margin-right: 2.85714%;
  }
  /* line 208, sass/_page.sass */
  .page-section-pricing .pricing__column:last-child {
    width: 31.42857%;
    float: right;
    margin-right: 0;
  }
}
/* line 211, sass/_page.sass */
.page-section-pricing .pricing__column .price-content {
  text-align: center;
}

@media (min-width: 70em) {
  /* line 216, sass/_page.sass */
  .page-section-integrations .integration-column {
    width: 22.85714%;
    float: left;
    margin-right: 2.85714%;
    padding-left: 17.14286%;
    padding-right: 17.14286%;
  }
  /* line 221, sass/_page.sass */
  .page-section-integrations .integration-column:last-child {
    width: 22.85714%;
    float: right;
    margin-right: 0;
    padding-left: 0%;
    padding-right: 17.14286%;
  }
}

@media (min-width: 70em) {
  /* line 227, sass/_page.sass */
  .page-section-contact .hbspt-form {
    padding-left: 25.71429%;
    padding-right: 25.71429%;
    width: 48.57143%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 70em) {
  /* line 236, sass/_page.sass */
  .page-section-bottom-cta .bottom-cta-left {
    width: 40%;
    float: left;
    margin-right: 2.85714%;
  }
  /* line 239, sass/_page.sass */
  .page-section-bottom-cta .bottom-cta-right {
    width: 57.14286%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 70em) {
  /* line 246, sass/_page.sass */
  .page-section-vip-signup .vip-signup__column-left {
    width: 40%;
    float: left;
    margin-right: 2.85714%;
  }
  /* line 249, sass/_page.sass */
  .page-section-vip-signup .vip-signup__column-right {
    width: 57.14286%;
    float: right;
    margin-right: 0;
  }
}

@media print {
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: Print Stylesheet
  
  This is the print stylesheet. There's probably not a lot
  of reasons to edit this stylesheet. If you want to
  though, go for it.
  
  ******************************************************************/
  /* line 15, sass/_print.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 23, sass/_print.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }
  /* line 28, sass/_print.scss */
  a:after, a:visited:after {
    content: " (" attr(href) ")";
  }
  /* line 33, sass/_print.scss */
  a abbr[title]:after, a:visited abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 38, sass/_print.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 44, sass/_print.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 49, sass/_print.scss */
  thead {
    display: table-header-group;
  }

  /* line 53, sass/_print.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 57, sass/_print.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
  /* line 65, sass/_print.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 70, sass/_print.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }

  /* line 76, sass/_print.scss */
  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav,
  .blog-post-bottom-cta,
  .article-comments,
  .footer {
    display: none;
  }
}
